body {
    background-color: #111010;
    color: #fe0505;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #f30808;
    color: #f45e07;
    border-style: none;
}
input {
    height: 20px;
  }